[submodule "semiactive/teensy.pretty"]
	path = semiactive/teensy.pretty
	url = https://github.com/XenGi/teensy.pretty
[submodule "semiactive/teensy_library"]
	path = semiactive/teensy_library
	url = https://github.com/XenGi/teensy_library
